body{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    font-family: 'Merriweather Sans', sans-serif;

}
nav{
    color: #40514e;
    
    text-align:right;
    background-color:#e4f9f5 ;
    
    padding: 10px;
    
    
    
}


ul {
    list-style: none; /* Remove the default list bullet points */
}

li {
    display: inline; /* Display list items horizontally */
    margin-right: 50px; /* Add some space between the list items */
}

a {
    color: #fff; /* Set the text color of the links */
    text-decoration: none; /* Remove the default underline */
}

h1{
    color: #66bfbf;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.25rem;
    

}
h2{
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    padding-left: 50px;
}

 .skills-section{
    margin-top: 60px;
    padding-left:50px ;
    padding-right: 50px;
    
}
 .skills-section h1{
   font-size: 2.7rem;
   text-align: center;
   font-family: Poppins;
   color: #201414;
   text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
   padding-bottom: 50px ;
}
 .skills-section .allboxes{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 25px;
   
}
 .skills-section .skill-box{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
    
}
 .skills-section .skill-box:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.02);
}
 .skills-section .skill-box img{
    height: 140px;
    width: 70%;
    
    
    padding-left: 30px;
    background-color: white;
    padding-right: 43px;

}
.skills-section .skill-box .btn{
    margin-top: 10px;
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}
 .skills-section .skill-box .btn:hover{
    letter-spacing: 1px;
}
@media(max-width:768px){
    .container{
        padding:20px;
    }
}
 .project-section .all-card{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
 .project-section .all-card .project-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #f3faf8;
    text-align: center;
    padding: 30px 20px;


}
 .project-section .all-card .project-card:hover{
    box-shadow: 0 10px 15px rgba(40, 132, 121, 0.3);
    transform: scale(1.01);
    cursor: pointer;
}

.pro{
    width: 20%;
    height:auto;
    padding-left: 50px;
    padding-right: 50px;
}
hr{
    border:dotted #EAF6F6 6px ;
    border-bottom: none;
    margin: 100px auto;
    width: 4%;
}

a{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px ;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.intro{
    width: 70%;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}
p{
    line-height: 2;
}

.top-container{
background-color:#e4f9f5 ;
position: relative;
padding-top: 50px;

margin: 0px;

}
.design{
    text-decoration: underline;
}



.bottom-cloud{
    background-color:#e4f9f5 ;
    position: absolute;
    bottom: 300px;
    left: 200px;
}
.top-cloud{
    position: absolute;
    right: 200px;
    top: 100px;
}
.middle-container{
    background-color:#e4f9f5 ;
    padding-top: 100px;
    margin: 0px  0;
    
}
.bottom-container{
    background-color:#e4f9f5 ;
    padding: 50px 0 20px;
    
}
.contact{
    width: 40%;
    margin: 40px auto 60px;
}
.copyright{
    color: #66bfbf;
    padding: 20px 0;
    
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
    background-image: -o-linear-gradient(top, #11cdd4, #11999E);
    background-image: linear-gradient(to bottom, #11cdd4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cd;
    background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cd, #2bc4ad);
    text-decoration: none;
  }