body {
    font-family: Arial, sans-serif;
    background-color: rgb(56, 22, 111);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #4fe7dd;
}

.task-input {
    display: flex;
    margin: 20px 0;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    color: #4fe7dd;
}

button.delete {
    background-color: #FF4136;
    color: white;
}

button.edit {
    background-color: #FF851B;
    color: white;
}
